requests
scikit-learn
pandas
flytekit
flytekitplugins-deck-standard
google-cloud-speech
google-cloud-texttospeech
marvin
pyaudio
sounddevice
numpy
scipy
asyncio
pydub
transitions
openai
Flask>=0.12
twilio~=6.0.0
